{% extends 'master.html' %}
{% set current_page = "/about" %}
{% block content %}
<div class="row">
    <div class="span3 columns">
        <img class="center-block" src="http://placekitten.com/g/150/400">
    </div>
    <div class="span8 columns">
        <h2>thank you</h2>
		<blockquote style="border:none;">
			<p>Autumn has probably already read your email and have started to paint or sculpt a new piece to your exacting specifications. Or it is sitting her Inbox waiting for me to ponder deeply. Either way, thank you for reaching out to me. Autumn will be in  touch very soon.</p>
			<small>autumn</small>
		</blockquote>
    </div>
</div>
{% endblock %}
